# Clojure CircleCI 2.0 configuration file
# Check https://circleci.com/docs/2.0/language-clojure/ for more details
version: 2
jobs:
  build:
    docker:
      - image: cimg/clojure:1.11
      - image: google/cloud-sdk:latest
        command: [gcloud, beta, emulators, pubsub, start, '--host-port=localhost:8085']
    working_directory: ~/repo
    environment:
      LEIN_ROOT: "true"
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "project.clj" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run: lein deps
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "project.clj" }}
      - run:
          name: Wait for pubsub emulator
          command: dockerize -wait tcp://localhost:8085 -timeout 1m
      - run: lein test
